venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.vscode/
.idea/

.env
.env.*

.ipynb_checkpoints/

*.log

node_modules/

dataset/
datasets/
data/
uploads/
test_images/

.streamlit/secrets.toml

.DS_Store
Thumbs.db